<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="contactController" class="group.contactmanager2.ContactController">
        <property name="contactService" ref="contactService"/>
        <property name="scanner" ref="scanner"/>
    </bean>

    <bean id="tableRepository" class="group.contactmanager2.TableRepository"/>

    <bean id="contactService" class="group.contactmanager2.ContactService">
        <property name="contactRepository" ref="contactRepository"/>
    </bean>

    <bean id="contactRepository" class="group.contactmanager2.ContactRepository"/>

    <bean id="scanner" class="java.util.Scanner">
        <constructor-arg value="#{T(java.lang.System).in}"/>
    </bean>
</beans>